/* Accordion.css */
button {
   padding: 8px 20px;
   background-color: #4CAF50;
   color: white;
   border: none;
   cursor: pointer;
   margin-right: 10px;
}

p {
   font-size: 20px;
   margin-top: 20px;
}

/* Accordion.css */
button:hover {
   background-color: #3e8e41;
}

button:active {
   transform: scale(0.95);
}

button:focus {
   outline: none;
}

/* Accordion.css */
@media screen and (max-width: 500px) {
   p {
      font-size: 16px;
   }
}

/* App.css */
.accordion-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}